*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    min-height:100vh;

    background:
    linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a,
    #2563eb
    );

    color:white;
}

.header{
    text-align:center;
    padding:40px 20px;
}

.header h1{
    font-size:48px;
    margin-bottom:10px;
}

.header p{
    font-size:20px;
    opacity:0.9;
}

.time-box{

    margin-top:20px;

    display:inline-block;

    padding:12px 30px;

    border-radius:20px;

    background:
    rgba(255,255,255,0.15);

    backdrop-filter:blur(10px);

    font-size:22px;

    font-weight:bold;
}

.container{
    width:90%;
    margin:auto;
}

.cards{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:60px;

    flex-wrap:wrap;

    margin-top:40px;
}

.card{

    width:400px;

    min-height:220px;

    background:
    rgba(255,255,255,0.12);

    backdrop-filter:blur(15px);

    border-radius:25px;

    padding:35px;

    text-align:center;

    box-shadow:
    0 10px 35px rgba(0,0,0,0.4);

    transition:0.4s;
}

.card:hover{

    transform:
    translateY(-10px);
}

.card h3{

    font-size:24px;

    margin-bottom:20px;
}

.card h2{

    font-size:60px;
}

.menu{

    text-align:center;

    margin-top:60px;
}

.btn{

    display:inline-block;

    padding:16px 28px;

    margin:10px;

    text-decoration:none;

    color:white;

    border-radius:15px;

    background:
    linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
    );

    transition:0.3s;
}

.btn:hover{

    transform:scale(1.08);
}

.panel{

    width:90%;

    margin:30px auto;

    background:
    rgba(255,255,255,0.12);

    backdrop-filter:blur(12px);

    border-radius:25px;

    padding:35px;
}

.panel h2{

    margin-top:40px;
    margin-bottom:20px;
}

img{

    width:100%;

    border-radius:15px;

    margin-bottom:30px;

    box-shadow:
    0 5px 20px rgba(0,0,0,0.3);
}

.back{

    display:block;

    width:220px;

    margin:30px auto;

    text-align:center;
}

@media(max-width:768px){

.card{

    width:100%;
}

.header h1{

    font-size:34px;
}

.card h2{

    font-size:42px;
}

}